<%= form_for (@materia) do |f| %>
  <div class="field">
    <%= f.label :institutos %>
    <%= f.select  :instituto_id, @institutos.collect { |i| [i.nome, i.id]} %>
  </div>
  <div class="field">
    <%= f.label :siga %>
    <%= f.text_field :sigla %>
  </div>
  <div class="field">
    <%= f.label :nome %>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :creditos %>
    <%= f.text_field :creditos %>
  </div>
  <div class="field">
    <%= f.label :periodo %>
    <%= f.text_field :periodo %>
  </div>
  <%= f.submit %>
<% end %>
